<nz-modal
  [(nzVisible)]="isModalAddPropVisible"
  nzClosable="false"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <div class="head-modal">
      <span>เพิ่มคุณสมบัติสินค้า</span>
      <span
        nz-icon
        nzType="question-circle"
        nzTheme="twotone"
        nzTwotoneColor="#FAAD14"
      ></span>
    </div>
    <div class="content-modal">
      <section>
        <nz-tag [nzColor]="'volcano'">WHITE</nz-tag>
        <span>ใช้งาน 1 คุณสมบัติ</span>
        <span>ต้องการเพิ่ม 1 คุณสมบัติให้สินค้า</span>
        <nz-tag
          nzMode="checkable"
          [nzChecked]="oneProperty"
          (nzCheckedChange)="checkChangeOne($event)"
          >ใช้งาน 1 คุณสมบัติ</nz-tag
        >
      </section>
      <section>
        <nz-tag [nzColor]="'volcano'">WHITE-XL</nz-tag>
        <span>ใช้งาน 2 คุณสมบัติ</span>
        <span>ต้องการเพิ่ม 2 คุณสมบัติให้สินค้า</span>
        <nz-tag
          nzMode="checkable"
          [nzChecked]="twoProperty"
          (nzCheckedChange)="checkChangeTwo($event)"
          >ใช้งาน 2 คุณสมบัติ</nz-tag
        >
      </section>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">ยกเลิก</button>
    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      ตกลง
    </button>
  </div>
</nz-modal>
