<!-- <div>
  <nz-pagination
    nzShowSizeChanger
    [nzPageIndex]="pageIndex"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="handlePageIndexChange($event)"
    (nzPageSizeChange)="handlePageSizeChange($event)"
  ></nz-pagination>
  <ul>
    <li *ngFor="let product of productLists">
      <p>{{ product.title }}</p>
      <p>{{ product.propValueMain }}</p>
      <p>{{ product.propValueSub }}</p>
    </li>
  </ul>
</div>

<button (click)="submitProduct()">Submit</button> -->

<p>
  app-my-module
</p>
